{% extends "base.html"%}{%block title%}Sign Up{%endblock%}

{%block content%}
<form method="post">

	<h2 align="center">Sign Up</h2>

	<div class="form-group">
		<label for="email">Email Address</label>
		<input 
		type="email"
		class="form-control"
		id="email" 
		name="email"
		placeholder="Enter email">
	</div>

	<div class="form-group">
		<label for="user">User Name</label>
		<input 
		type="user"
		class="form-control"
		id="user" 
		name="user"
		placeholder="Enter your username">
	</div>

	<div class="form-group">
		<label for="password1">Password</label>
		<input 
		type="password"
		class="form-control"
		id="password1" 
		name="password1"
		placeholder="Enter password">
	</div>

	<div class="form-group">
		<label for="password2">Confirm Password</label>
		<input 
		type="password"
		class="form-control"
		id="password2" 
		name="password2"
		placeholder="Confirm password">
	</div>

	<br />

	<button type="submit" class="btn btn-outline-secondary btn-lg ">Submit</button>

</form>
{%endblock%}
